<div class="card" style="width: 18rem;">
  <a href="/auction/<%= item.id %>">
    <img class="card-img-top" src="<%= item.image %>" alt="Card image">
  </a>
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <h5 class="card-title">$<%= item.price %></h5>
    <p class="card-text"><%= item.description %></p>
    <a class="buy-btn btn btn-info" href="/auction/<%= item.id %>">More</a>
    <% if (buyable) { %> 
      <button class="buy-btn btn btn-warning" data-id="<%= item.id %>">Buy</button>
    <% } %> 
  </div>
</div>

