<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text"><%= item.description %></p>
  </div>
  <img class="card-img-top" src="<%= item.image %>" alt="Card image cap">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= item.price %></li>
    <li class="list-group-item"><%= item.description %></li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-warning">Buy</button>
  </div>
</div>

